
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1{
  margin-bottom:20px;
  background:linear-gradient(to right,red,green);
  background-clip:text;
  color: transparent;
}

.traffic-light{
  background-color: black;
  height: 200px;
  padding: 20px;
  width: 60px;
  border-radius: 12px;
}

.light{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color:grey;
  padding: 20px;
  margin-bottom: 10px;
  
}


/* CSS */
.button {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
  margin-bottom: 12px;
  min-width: 100px;
  max-width: 200px;
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}

.left{
  text-align: center;
  margin-right: 40px;
}

img{
  margin-top: 12px;
}


.align{
  display: flex;
  justify-content:space-around;
  border: 1px solid black;
  padding: 20px;
  width: 600px;
  border-radius: 12px;
}